.App {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

/* Estilos globales */
.App {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

/* Estilo para el título principal */
.App h1 {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Estilo para el subtítulo */
.App h2 {
  color: #000000;
  font-size: 1.8em;
}

/* Estilo para el contenedor del componente UploadGuide */
.UploadGuide {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

/* Estilo para el botón */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

/* Estilo para el mensaje de archivo seleccionado */
p {
  font-size: 1.1em;
  margin-top: 10px;
  color: #16a085;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

